embeddings/embeddings_voyage@voyage-3.5_api.parquet.7z filter=lfs diff=lfs merge=lfs -text
embeddings/embeddings_Qwen@Qwen3-Embedding-8B.parquet.7z filter=lfs diff=lfs merge=lfs -text
embeddings/embeddings_google@embeddinggemma-300m(STS.parquet.7z filter=lfs diff=lfs merge=lfs -text
embeddings/embeddings_nomic-ai@nomic-embed-text-v2-moe.parquet.7z filter=lfs diff=lfs merge=lfs -text
embeddings/embeddings_nvidia@llama-embed-nemotron-8b.parquet.7z filter=lfs diff=lfs merge=lfs -text
embeddings/embeddings_openai@text-embedding-3-large_api.parquet.7z filter=lfs diff=lfs merge=lfs -text
embeddings/embeddings_Linq-AI-Research@Linq-Embed-Mistral(retrieval).parquet.7z filter=lfs diff=lfs merge=lfs -text
embeddings/embeddings_Linq-AI-Research@Linq-Embed-Mistral.parquet.7z filter=lfs diff=lfs merge=lfs -text
embeddings/embeddings_intfloat@multilingual-e5-large-instruct.parquet.7z filter=lfs diff=lfs merge=lfs -text
embeddings/embeddings_jinaai@jina-embeddings-v4.parquet.7z filter=lfs diff=lfs merge=lfs -text
embeddings/embeddings_Qwen@Qwen3-Embedding-8B(retrieval).parquet.7z filter=lfs diff=lfs merge=lfs -text
embeddings/embeddings_intfloat@multilingual-e5-large-instruct(retrieval).parquet.7z filter=lfs diff=lfs merge=lfs -text
embeddings/embeddings_nvidia@llama-embed-nemotron-8b(retrieval).parquet.7z filter=lfs diff=lfs merge=lfs -text
embeddings/embeddings_google@embeddinggemma-300m.parquet.7z filter=lfs diff=lfs merge=lfs -text
embeddings/embeddings_google@gemini-embedding-001_api.parquet.7z filter=lfs diff=lfs merge=lfs -text
embeddings/embeddings_sentence-transformers@sentence-t5-xxl.parquet.7z filter=lfs diff=lfs merge=lfs -text
embeddings/embeddings_tencent@KaLM-Embedding-Gemma3-12B-2511(retrieval).parquet.7z filter=lfs diff=lfs merge=lfs -text
embeddings/embeddings_tencent@KaLM-Embedding-Gemma3-12B-2511.parquet.7z filter=lfs diff=lfs merge=lfs -text
